.contacts
    a.contact(href="tel:+7999999999")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contacts__text +7999999999
    a.contact(href="mailto:info@info.ru")
        i.fa.fa-envelope.contact__icon--email(aria-hidden="true")
        span.contact__text info@info.ru
    a.contact(href="facebook.com")
        i.fa.fa-facebook.facebook-icon(aria-hidden="true")